# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln

# OS files
.DS_Store
Thumbs.db
Saved/Logs/ProjectPlacement.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
